@font-face {
  font-family: "Manrope";
  src:
    url("../../fonts/manrope/manrope-light.woff2") format("woff2"),
    url("../../fonts/manrope/manrope-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src:
    url("../../fonts/manrope/manrope-regular.woff2") format("woff2"),
    url("../../fonts/manrope/manrope-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src:
    url("../../fonts/manrope/manrope-medium.woff2") format("woff2"),
    url("../../fonts/manrope/manrope-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
