html {
  width: 100%;
}

body {
  font-family: var(--font-base, inherit);
  font-size: 14px;
  line-height: 1.43;
  font-weight: 400;
  margin: 0;
  width: 100%;
  background-color: var(--bg-base, #000080);
  color: var(--color-base, #000000);
}

img {
  line-height: 1;
  object-fit: contain;
}
