:root {
  --font-base: "Manrope", "Helvetica", sans-serif;
  --color-base: #484848;
  --color-second: #ffffff;
  --color-extra-light: #f0efe9;
  --bg-base: #f0efe9;
  --bg-second: #ffffff;
  --bg-accent: #316dc2;
  --bg-button-active: #275699;
  --bg-button-dis: #a9afb7;
  --overlay-photo: rgba(49, 109, 194, 0.2);
  --overlay-page: rgba(13, 29, 51, 0.4);
}
