@import "vendor/normalize";
@import "./common/root";
@import "./common/global";
@import "./common/fonts";
@import "./blocks/about";
@import "./blocks/body";
@import "./blocks/body-overlay";
@import "./blocks/button-close";
@import "./blocks/card-button";
@import "./blocks/contacts";
@import "./blocks/faq";
@import "./blocks/footer";
@import "./blocks/form";
@import "./blocks/form-content";
@import "./blocks/grant";
@import "./blocks/header";
@import "./blocks/hero";
@import "./blocks/hero-card";
@import "./blocks/html";
@import "./blocks/main";
@import "./blocks/modal";
@import "./blocks/main-button";
@import "./blocks/nav";
@import "./blocks/news";
@import "./blocks/program-card";
@import "./blocks/programs";
@import "./blocks/reviews";
@import "./blocks/visually-hidden";
