@import "vendor/normalize";
@import "./common/root.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";
@import "./blocks/about.scss";
@import "./blocks/body-overlay.scss";
@import "./blocks/body.scss";
@import "./blocks/button-close.scss";
@import "./blocks/card-button.scss";
@import "./blocks/contacts";
@import "./blocks/faq";
@import "./blocks/footer";
@import "./blocks/form";
@import "./blocks/form-content";
@import "./blocks/grant";
@import "./blocks/header";
@import "./blocks/hero";
@import "./blocks/hero-card";
@import "./blocks/html";
@import "./blocks/main";
@import "./blocks/modal";
@import "./blocks/main-button";
@import "./blocks/nav";
@import "./blocks/news";
@import "./blocks/program-card";
@import "./blocks/programs";
@import "./blocks/reviews";
@import "./blocks/visually-hidden";
