.about__title {
  font-size: 20px;
  line-height: 1;
  font-weight: inherit;
  color: var(--bg-accent, #000080);
  margin: 0;
  margin-bottom: 15px;
}

.about__head p {
  font-size: 16px;
  line-height: 1.38;
  margin: 15px 0;
}

.about__description {
  margin-top: 40px;
}

.about__description h3 {
  font-size: 18px;
  line-height: 1.22;
  font-weight: inherit;
  color: var(--bg-accent, #000080);
  margin: 0;
  margin-bottom: 20px;
}

.about__description p {
  margin: 20px 0 30px;
}

.about__button {
  width: 223px;
  padding: 15px 57px 15px 21px;
  background-color: var(--color-extra-light, #f0efe9);

  &::before {
    left: 182px;
  }

  &::after {
    left: 195px;
  }
}

.about__list {
  margin: 0;
  margin-top: 40px;
  padding: 42px 20px 40px;
  list-style: none;
  background-color: var(--bg-accent, #000080);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.about__item {
  padding: 15px 19px 0;
  border: 1px solid var(--color-extra-light, #f0efe9);
  border-radius: 16px;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    width: 42px;
    height: 42px;
    display: block;
    background-color: var(--bg-accent, #000080);
    position: absolute;
    top: -23px;
    left: -21px;
    z-index: 1;
    background-image: url("@__spritemap#sprite-star-icon-view");
    background-size: 18px 22px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.about__item h4 {
  font-size: 16px;
  line-height: 1.25;
  font-weight: inherit;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
  color: var(--color-second, #ffffff);
}

.about__item p {
  font-weight: 300;
  color: var(--color-extra-light, #f0efe9);
  margin: 15px 0;
}

@media (width >= 768px) {
  .about__title {
    font-size: 34px;
    line-height: 1.47;
    margin-top: 1px;
    margin-bottom: 30px;
  }

  .about__head p {
    font-size: 20px;
    line-height: 1.3;
    margin: 30px 0;
  }

  .about__description h3 {
    font-size: 28px;
    line-height: 1;
    margin-top: -1px;
    margin-bottom: 30px;
  }

  .about__description p {
    width: 498px;
    font-size: 16px;
    line-height: 1.25;
    margin: 30px 0 40px;
  }

  .about .about__button {
    width: 279px;
    padding: 20px 79px 20px 30px;

    &::before {
      left: 227px;
    }

    &::after {
      left: 246px;
    }
  }

  .about__list {
    margin-top: 60px;
    padding: 72px 50px 50px 70px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 52px;
    row-gap: 54px;
  }

  .about__item {
    width: 253px;
    padding: 16px 20px 0;
    box-sizing: border-box;

    &::before {
      top: -23px;
      left: -21px;
    }
  }

  .about__item h4 {
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 0.2px;
  }

  .about__item p {
    font-size: 16px;
    line-height: 1.25;
    margin: 14px 0;
  }
}

@media (width >= 1440px) {
  .about {
    display: grid;
    grid-template-columns: 702px 1fr;
    grid-template-rows: repeat(4, min-content);
    column-gap: 40px;
  }

  .about__title {
    font-size: 50px;
    line-height: 0.6;
    margin-top: 10px;
    margin-bottom: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .about__head p {
    font-size: 22px;
    line-height: 1.45;
    margin-top: -18px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .about__description {
    margin-top: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin-bottom: 28px;
  }

  .about__description h3 {
    font-size: 32px;
    line-height: 1.13;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .about__description p {
    font-size: 16px;
    line-height: 1.63;
    margin: 0;
  }

  .about .about__button {
    width: 279px;
    margin-top: 21px;
    padding: 20px 79px 20px 31px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .about__list {
    margin-top: 60px;
    padding: 72px 100px 50px 120px;
    grid-column: 1 / -1;
    grid-row: 4 / 5;
  }

  .about__item {
    width: 484px;
    padding: 32px 41px 28px 34px;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
  }

  .about__item h4 {
    width: 171px;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.26px;
    margin: 0;
  }

  .about__item p {
    width: 192px;
    margin: 0;
  }
}
