.body-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

.body__main {
  flex-grow: 1;
}

.body__modal-wrapper--opened {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-page, rgba(13, 29, 51, 0.4));
  z-index: 10;
}

.body__modal-wrapper--closed {
  display: none;
}
