.form-content {
  width: 100%;
  padding: 40px 0;
  background-color: inherit;
}

.form-content__background-wrapper {
  width: 320px;
  min-height: 753px;
  margin: 0 auto;
  padding: 43px 10px 40px;
  background-image: image-set("../img/form-img-mobile@2x.webp" 2x type("image/webp"), "../img/form-img-mobile@1x.webp" 1x type("image/webp"), "../img/form-img-mobile@2x.jpg" 2x type("image/jpg"), "../img/form-img-mobile@1x.jpg" 1x type("image/jpg"));
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-sizing: border-box;
}

.form-content__wrapper {
  width: 300px;
  margin: 0 auto;
  padding: 17px 12px 27px 15px;
  box-sizing: border-box;
  background-color: var(--bg-accent, #000080);
  color: var(--color-extra-light, #f0efe9);
  border-radius: 16px;
}

.form-content__title {
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  margin-bottom: 12px;
  color: var(--color-second, #ffffff);
}

.form-content__description {
  margin: 10px 0;
}

.form-content__form {
  margin-top: 20px;
}

.form-content .form__button {
  width: 260px;
  padding: 15px 68px 15px 30px;
  border: 1px solid var(--color-second, #ffffff);
  color: var(--color-second, #ffffff);
  justify-content: center;

  &::before {
    background-color: var(--bg-second, #ffffff);
    left: 220px;
  }

  &::after {
    background-color: var(--bg-accent, #000080);
    left: 233px;
  }

  &:hover:not(:disabled) {
    background-color: var(--bg-second, #ffffff);
    color: var(--bg-accent, #000080);
  }

  &:hover:not(:disabled)::before {
    background-color: var(--bg-accent, #000080);
  }

  &:hover:not(:disabled)::after {
    background-color: var(--bg-second, #ffffff);
  }

  &:focus:not(:disabled),
  &:focus-visible:not(:disabled) {
    background-color: var(--bg-accent, #000080);
    color: var(--color-second, #ffffff);
  }

  &:focus:not(:disabled)::before,
  &:focus-visible:not(:disabled)::before {
    background-color: var(--bg-second, #ffffff);
  }

  &:focus:not(:disabled)::after,
  &:focus-visible:not(:disabled)::after {
    background-color: var(--bg-accent, #000080);
  }

  &:active:not(:disabled) {
    background-color: var(--bg-second, #ffffff);
    color: rgba(49, 109, 194, 0.7);
  }

  &:active:not(:disabled)::before {
    background-color: var(--bg-accent, #000080);
  }

  &:active:not(:disabled)::after {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

@media (width >= 768px) {
  .form-content {
    padding: 0;
  }

  .form-content__background-wrapper {
    width: 768px;
    padding: 50px 58px;
    background-image: image-set("../img/form-img-tablet@2x.webp" 2x type("image/webp"), "../img/form-img-tablet@1x.webp" 1x type("image/webp"), "../img/form-img-tablet@2x.jpg" 2x type("image/jpg"), "../img/form-img-tablet@1x.jpg" 1x type("image/jpg"));
    border-radius: 24%;
  }

  .form-content__wrapper {
    width: 442px;
    height: 780px;
    margin: 0;
    padding: 41px 40px 52px;
  }

  .form-content__title {
    font-size: 28px;
    margin-bottom: 31px;
  }

  .form-content__description {
    font-size: 16px;
    line-height: 1.25;
    margin: 20px 0;
  }

  .form-content__form {
    margin-top: 40px;
  }

  .form-content .form__button {
    width: 352px;
    padding: 20px 80px 20px 30px;

    &::before {
      left: 300px;
    }

    &::after {
      left: 319px;
    }
  }
}

@media (width >= 1440px) {
  .form-content__background-wrapper {
    width: 1440px;
    padding: 60px 100px;
    background-image: image-set("../img/form-img-desktop@2x.webp" 2x type("image/webp"), "../img/form-img-desktop@1x.webp" 1x type("image/webp"), "../img/form-img-desktop@2x.jpg" 2x type("image/jpg"), "../img/form-img-desktop@1x.jpg" 1x type("image/jpg"));
  }

  .form-content__wrapper {
    width: 490px;
    height: 800px;
    padding: 48px 70px 46px;
  }

  .form-content__title {
    font-size: 32px;
    line-height: 1.13;
    margin-bottom: 34px;
  }

  .form-content__description {
    line-height: 1.63;
  }

  .form-content .form__button {
    width: 350px;

    &::before {
      left: 298px;
    }

    &::after {
      left: 317px;
    }
  }
}
