.hero-card {
  position: relative;
}

.hero-card__picture {
  line-height: 0;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 1;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--overlay-photo, rgba(49, 109, 194, 0.2));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

.hero-card__content {
  z-index: 1;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.hero-card__title {
  width: 290px;
  min-height: 133px;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  color: var(--bg-accent, #000080);
  background-color: var(--bg-second, #ffffff);
  padding: 20px 15px 3px 14px;
  box-sizing: border-box;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.hero-card__content p {
  width: 267px;
  min-height: 122px;
  font-size: 16px;
  line-height: 1.25;
  margin: 0;
  margin-top: -3px;
  padding: 0 15px 15px 14px;
  background-color: var(--bg-second, #ffffff);
  border-bottom-right-radius: 14px;
  box-sizing: border-box;

  &::before {
    content: "";
    width: 8px;
    height: 10px;
    display: block;
    background-color: var(--bg-second, #ffffff);
    position: relative;
    mask: url("/__spritemap#sprite-corner-icon-view") center / 8px 10px no-repeat;
    top: -1px;
    left: 253px;
  }
}

.hero-card__button-wrapper {
  width: min-content;
  background-color: var(--bg-second, #ffffff);
  padding: 0 15px 10px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  z-index: 10;

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background-color: var(--bg-second, #ffffff);
    position: relative;
    mask: url("/__spritemap#sprite-corner-icon-view") center / 10px 10px no-repeat;
    top: 0;
    left: 168px;
  }
}

.hero-card__button {
  padding: 15px 58px 15px 20px;

  &::before {
    left: 114px;
  }

  &::after {
    left: 127px;
  }
}

@media (width >= 768px) {
  .hero-card__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
    top: 687px;
    left: 45px;
  }

  .hero-card__title {
    width: 659px;
    min-height: 142px;
    font-size: 36px;
    line-height: 1.22;
    padding: 31px 69px 24px 40px;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .hero-card__content p {
    width: 325px;
    min-height: 100px;
    margin-top: -12px;
    padding: 0 44px 35px 40px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 30px;
  }

  .hero-card__button-wrapper {
    padding: 0 40px 79px 30px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: -2px;
    margin-left: -7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 30px;

    &::before {
      width: 26px;
      height: 26px;
      mask: url("/__spritemap#sprite-corner-icon-view") center / 26px 26px no-repeat;
      top: 1px;
      left: 239px;
    }
  }

  .hero-card__button {
    margin-top: -25px;
    padding: 20px 81px 20px 31px;

    &::before {
      left: 147px;
    }

    &::after {
      left: 166px;
    }
  }
}

@media (width >= 1440px) {
  .hero-card__content {
    top: 433px;
    left: 100px;
  }

  .hero-card__title {
    width: 968px;
    min-height: 194px;
    font-size: 54px;
    line-height: 1.15;
    padding: 40px 50px 30px;
  }

  .hero-card__content p {
    width: 496px;
    min-height: 78px;
    margin-top: -7px;
    padding: 0 55px 35px 50px;
  }

  .hero-card__button-wrapper {
    padding: 0 50px 45px 30px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: -2px;
    margin-left: -7px;

    &::before {
      left: 250px;
    }
  }

  .hero-card__button {
    margin-top: -20px;
    padding: 22px 82px 22px 31px;
  }
}
